<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xxw.mapper.AssetsMapper">
    <resultMap id="AssetsResultMap" type="xxw.po.AssetsConfig">
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="ZCTYPE" property="zctype" jdbcType="VARCHAR"/>
        <result column="FIELD" property="field" jdbcType="VARCHAR"/>
        <result column="FIELDNAME" property="fieldname" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="getAssetsConfigInfo" resultType="xxw.po.AssetsConfig">
        select * from ASSETS_CONFIG where 1=1
        <if test="zctype !=null">
            and ZCTYPE= #{zctype,jdbcType=VARCHAR}
        </if>
        <if test="order !=null">
            and "ORDER"= #{order,jdbcType=VARCHAR}
        </if>

        and SHOW='1'
        order by ID,FIELD
    </select>
    <select id="getAllAssetsConfigInfo" resultType="xxw.po.AssetsConfig">
        select * from ASSETS_CONFIG where 1=1
        <if test="zctype !=null">
            and ZCTYPE= #{zctype,jdbcType=VARCHAR}
        </if>
        <if test="order !=null">
            and "ORDER"= #{order,jdbcType=VARCHAR}
        </if>
        order by ID,FIELD
    </select>
    <select id="getFieldByTypeAndName" resultType="String">
        select FIELD from ASSETS_CONFIG where FIELDNAME= '公司名称'
        <!--<if test="zctype !=null">-->
            <!--and ZCTYPE= #{zctype,jdbcType=VARCHAR}-->
        <!--</if>-->
        and ZCTYPE in
        <foreach collection="zctypes" item="zctype" index="index" open="(" close=")" separator=",">
            #{zctype}
        </foreach>
    </select>
    <select id="getAssetsInfoByMap" resultType="map">
        select * from ASSETS_INFO where 1=1
        <if test="zctype !=null">
            and ZCTYPE= #{zctype,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="getAssetsInfo" resultType="xxw.po.AssetsInfo">
        select * from ASSETS_INFO where 1=1
        <if test="zctype !=null">
            and ZCTYPE= #{zctype,jdbcType=VARCHAR},
        </if>
    </select>
    <select id="getAssetsInfoByName" resultType="xxw.po.AssetsInfo">
        select * from ASSETS_INFO where 1=1
        <if test="name !=null and field1 != null">
            and ${field1} LIKE #{name,jdbcType=VARCHAR}
        </if>
        <if test="name !=null and field2 != null">
            OR ${field2} LIKE #{name,jdbcType=VARCHAR}
        </if>
        <if test="name !=null and field3 != null">
            OR ${field3} LIKE #{name,jdbcType=VARCHAR}
        </if>
        <if test="name !=null and field4 != null">
            OR ${field4} LIKE #{name,jdbcType=VARCHAR}
        </if>
        order by ID
    </select>
    <insert id="insertConfig" useGeneratedKeys="false" keyProperty="id" parameterType="java.lang.String">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select CONFIGSEQ.nextval as id from dual
        </selectKey>
        insert into ASSETS_CONFIG("ID","ZCTYPE","FIELD","FIELDNAME","ORDER") VALUES (#{id,jdbcType=VARCHAR},#{zctype,jdbcType=VARCHAR},#{field,jdbcType=VARCHAR},#{fieldname,jdbcType=VARCHAR},#{order,jdbcType=VARCHAR})
    </insert>
    <update id="updateConfig" parameterType="xxw.po.AssetsConfig">
        UPDATE ASSETS_CONFIG SET
        <if test="id != null" >
            ID= #{id,jdbcType=VARCHAR},
        </if>
        <if test="zctype != null" >
            ZCTYPE= #{zctype,jdbcType=VARCHAR},
        </if>
        <if test="field != null" >
            FIELD= #{field,jdbcType=VARCHAR},
        </if>
        <if test="show != null" >
            SHOW= #{show,jdbcType=VARCHAR},
        </if>
        <if test="order != null" >
            "ORDER"= #{order,jdbcType=VARCHAR},
        </if>
        where ID=#{id,jdbcType=VARCHAR}
    </update>

    <insert id="insertAssetsInfo" parameterType="java.util.Map">
        insert into ASSETS_INFO(
        id,
        <foreach collection="assetsMap" item="value" index="key" separator=",">
            ${key}
        </foreach>
        )
        values(
        ASSETSINFOSEQ.nextval,
        <foreach collection="assetsMap" item="value" index="key" separator=",">
            #{value}
        </foreach>
        )
    </insert>
</mapper>