<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xxw.mapper.FinanceMapper">
    <select id="getFinance" parameterType="java.lang.String" resultType="xxw.po.Finance">
        select * from FINANCE
    </select>

    <select id="getFinanceById" parameterType="java.lang.String" resultType="xxw.po.Finance">
        select * from FINANCE where 1=1
        <if test="id !=null">
            and ID= #{id,jdbcType=VARCHAR}
        </if>
    </select>

    <insert id="insertFinance">
        insert into FINANCE(
        <foreach collection="assetsMap" item="value" index="key" separator=",">
            ${key}
        </foreach>
        )
        values(
        <foreach collection="assetsMap" item="value" index="key" separator=",">
            #{value}
        </foreach>
        )
    </insert>
    <update id="updateFinance" parameterType="java.util.Map">
        update FINANCE SET
        <foreach collection="assetsMap" item="value" index="key" separator=",">
            ${key} = #{value}
        </foreach>
        where zcid = #{assetsMap.zcid}
    </update>

    <delete  id="delFinance" parameterType="java.lang.String">
        delete from FINANCE where ID= #{id,jdbcType=VARCHAR}
    </delete>

    <update id="updateFinanceInfoDays"  parameterType="java.util.List">
        BEGIN
        <foreach collection="list" item="item"  separator="">
            update FINANCE
            <set>
                <if test="item.dayorder != null">
                    dayorder = #{item.dayorder},
                </if>
            </set>
            where zcid = #{item.zcid};
        </foreach>
        END;
    </update>
</mapper>