<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xxw.mapper.FlowMapper">

    <select id="getNodes" resultType="xxw.po.NodeInfo">
      select * from NODECONFIG
    </select>
    <update id="upNode" parameterType="java.lang.String">
        update NODECONFIG set USERID=#{id,jdbcType=VARCHAR} ,TREEID=#{treeid,jdbcType=VARCHAR}
        where NODEID=#{nodeId,jdbcType=VARCHAR} and FLOWTYPE=#{flowType,jdbcType=VARCHAR}
    </update>
    <insert id="insertNode"  parameterType="java.lang.String">
        insert into DEPARTTREE
        <trim prefix="(" suffix=")" suffixOverrides="," >

            <if test="id != null" >
                "ID",
            </if>
            <if test="nodeName != null" >
                "NODENAME",
            </if>
            <if test="nodeId != null" >
                "NODEID",
            </if>
            <if test="pnodeId != null" >
                "PARENTNODEID",
            </if>
            <if test="level != null" >
                "LEVEL",
            </if>
            <if test="depart != null" >
                "DEPART",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>

            <if test="nodeName != null" >
                #{nodeName,jdbcType=VARCHAR},
            </if>
            <if test="nodeId != null" >
                #{nodeId,jdbcType=VARCHAR},
            </if>
            <if test="pnodeId != null" >
                #{pnodeId,jdbcType=VARCHAR},
            </if>
            <if test="level != null" >
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="depart != null" >
                #{depart,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="getNodesInfo" resultType="xxw.po.DepartTree">
        select * from DEPARTTREE where 1=1
        <if test="level !=null">
            and LEVEL= #{level,jdbcType=VARCHAR}
        </if>
        <if test="parentNodeId !=null">
            and PARENTNODEID= #{parentNodeId,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getMaxLevel" resultType="java.lang.String">
        select max("LEVEL") from DEPARTTREE
    </select>

    <select id="getDepart" resultType="xxw.po.DepartTree">
        select * from DEPARTTREE where 1=1
        <if test="depart !=null">
            and DEPART= #{depart,jdbcType=VARCHAR}
        </if>
        <if test="pnodeId !=null">
            and PARENTNODEID= #{pnodeId,jdbcType=VARCHAR}
        </if>
    </select>

   <!--创建流程实例-->
    <insert id="createFlow"   useGeneratedKeys="false" keyProperty="id"    parameterType="xxw.po.FlowInstance">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select FLOW_SEQ.nextval as id from dual
        </selectKey>
        insert into FLOWINSTANCE
        <trim prefix="(" suffix=")" suffixOverrides="," >

            "ID",
            <if test="flowId != null" >
                "FLOWID",
            </if>
            <if test="node != null" >
                "NODE",
            </if>
            <if test="startDate != null" >
                "STARTDATE",
            </if>
            <if test="endDate != null" >
                "ENDDATE",
            </if>
            <if test="flowType != null" >
                "FLOWTYPE",
            </if>
            <if test="status != null" >
                "STATUS",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                #{id,jdbcType=VARCHAR},


            <if test="flowId != null" >
                #{flowId,jdbcType=VARCHAR},
            </if>
            <if test="node != null" >
                #{node,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null" >
                #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null" >
                #{endDate,jdbcType=DATE},
            </if>
            <if test="flowType != null" >
                #{flowType,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--更新流程实例-->
    <update id="updateFlow" parameterType="xxw.po.FlowInstance">
        update FLOWINSTANCE set
        <if test="node != null" >
           NODE= #{node,jdbcType=VARCHAR},
        </if>
        <if test="startDate != null" >
            STARTDATE= #{startDate,jdbcType=DATE},
        </if>
        <if test="endDate != null" >
            ENDDATE= #{endDate,jdbcType=DATE},
        </if>
        <if test="status != null" >
            STATUS= #{status,jdbcType=VARCHAR},
        </if>
        where FLOWID=#{flowId,jdbcType=VARCHAR}
    </update>

    <!--创建流程历史信息-->
    <insert id="createFlowHistory"   useGeneratedKeys="false" keyProperty="id"    parameterType="xxw.po.FlowHistory">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select FLOWHISTORY_SEQ.nextval as id from dual
        </selectKey>
        insert into FLOWHISTORY
        <trim prefix="(" suffix=")" suffixOverrides="," >

            "ID",
            <if test="flowId != null" >
                "FLOWID",
            </if>
            <if test="node != null" >
                "NODE",
            </if>
            <if test="startDate != null" >
                "STARTDATE",
            </if>
            <if test="endDate != null" >
                "ENDDATE",
            </if>
            <if test="flowType != null" >
                "FLOWTYPE",
            </if>
            <if test="status != null" >
                "STATUS",
            </if>
            <if test="nodeOrder != null" >
                "NODEORDER",
            </if>
            <if test="file != null" >
                "FILE",
            </if>
            <if test="rejectReason != null" >
                "REJECTREASON",
            </if>
            <if test="sqInfo != null" >
                "SQINFO",
            </if>
            <if test="sqReason != null" >
                "SQREASON",
            </if>
            <if test="user != null" >
                "USER",
            </if>
            <if test="dusers != null" >
                "DUSERS",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id,jdbcType=VARCHAR},


            <if test="flowId != null" >
                #{flowId,jdbcType=VARCHAR},
            </if>
            <if test="node != null" >
                #{node,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null" >
                #{startDate,jdbcType=DATE},
            </if>
            <if test="endDate != null" >
                #{endDate,jdbcType=DATE},
            </if>
            <if test="flowType != null" >
                #{flowType,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="nodeOrder != null" >
                #{nodeOrder,jdbcType=VARCHAR},
            </if>
            <if test="file != null" >
                #{file,jdbcType=VARCHAR},
            </if>
            <if test="rejectReason != null" >
                #{rejectReason,jdbcType=VARCHAR},
            </if>
            <if test="sqInfo != null" >
                #{sqInfo,jdbcType=VARCHAR},
            </if>
            <if test="sqReason != null" >
                #{sqReason,jdbcType=VARCHAR},
            </if>
            <if test="user != null" >
                #{user,jdbcType=VARCHAR},
            </if>
            <if test="dusers != null" >
                #{dusers,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--查询流程实例信息-->
    <select id="queryFlowInfos" parameterType="java.lang.String" resultType="xxw.po.FlowHistory">
        select  *  from FLOWINSTANCE
        WHERE 1=1
        <if test="flowType !=null">
            and FLOWTYPE= #{flowType,jdbcType=VARCHAR}
        </if>
    </select>

    <!--查询文件结构-->
    <select id="selectCom" parameterType="java.lang.String" resultType="java.lang.String">
        select DISTINCT  COM from FILEMANAGER WHERE 1=1
    </select>
    <select id="selectPos" parameterType="java.lang.String" resultType="java.lang.String">
        select DISTINCT  POS from FILEMANAGER WHERE 1=1
        <if test="com !=null">
            and COM= #{com,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectType" parameterType="java.lang.String" resultType="java.lang.String">
        select DISTINCT  TYPE from FILEMANAGER WHERE 1=1
        <if test="com !=null">
            and COM= #{com,jdbcType=VARCHAR}
        </if>
        <if test="pos !=null">
            and POS= #{pos,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectFile" parameterType="java.lang.String" resultType="java.util.HashMap">
        select a.*,b.* from FILEMANAGER a INNER JOIN ASSETS_FILE b on a.PATHID=b.PATHID  WHERE 1=1
        <if test="com !=null">
            and a.COM= #{com,jdbcType=VARCHAR}
        </if>
        <if test="pos !=null">
            and a.POS= #{pos,jdbcType=VARCHAR}
        </if>
        <if test="type !=null">
            and a.TYPE= #{type,jdbcType=VARCHAR}
        </if>
        <if test="fileDate !=null">
            and b.FILEDATE= #{fileDate,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectPathId" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from FILEMANAGER  WHERE 1=1
        <if test="com !=null">
            and COM= #{com,jdbcType=VARCHAR}
        </if>
        <if test="pos !=null">
            and POS= #{pos,jdbcType=VARCHAR}
        </if>
        <if test="type !=null">
            and TYPE= #{type,jdbcType=VARCHAR}
        </if>
    </select>
    <update id="updateFile" parameterType="java.lang.String" >
        update ASSETS_FILE set ZCID=#{zcid} where FILEID=#{fileId}
    </update>
    <insert id="insertManagerFile"   useGeneratedKeys="false" keyProperty="id"    parameterType="java.lang.String">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select FILE_SEQ.nextval as id from dual
        </selectKey>
        insert into ASSETS_FILE
        <trim prefix="(" suffix=")" suffixOverrides="," >

            "ID",
            <if test="fileId != null" >
                "FILEID",
            </if>
            <if test="fileName != null" >
                "FILENAME",
            </if>
            <if test="filePath != null" >
                "FILEPATH",
            </if>
            <if test="realName != null" >
                "REALNAME",
            </if>
            <if test="pathId != null" >
                "PATHID",
            </if>
            <if test="fileDate !=null">
                "FILEDATE",
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id,jdbcType=VARCHAR},
            <if test="fileId != null" >
                #{fileId,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null" >
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null" >
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="realName != null" >
                #{relaName,jdbcType=VARCHAR},
            </if>
            <if test="pathId != null" >
                #{pathId,jdbcType=VARCHAR},
            </if>
            <if test="fileDate != null" >
                #{fileDate,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="savefilefold"   useGeneratedKeys="false" keyProperty="id"    parameterType="java.lang.String">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select FILEFOLD_SEQ.nextval as id from dual
        </selectKey>
        insert into FILEMANAGER
        <trim prefix="(" suffix=")" suffixOverrides="," >

            "ID","PATHID",

            <if test="com != null" >
                "COM",
            </if>
            <if test="pos != null" >
                "POS",
            </if>
            <if test="type != null" >
                "TYPE",
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id,jdbcType=VARCHAR},#{pathid,jdbcType=VARCHAR},
            <if test="com != null" >
                #{com,jdbcType=VARCHAR},
            </if>
            <if test="pos != null" >
                #{pos,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>