<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xxw.mapper.FlowMapper">

    <select id="getNodes" resultType="xxw.po.NodeInfo">
      select * from NODECONFIG
    </select>
    <update id="upNode" parameterType="java.lang.String">
        update NODECONFIG set USERID=#{id,jdbcType=VARCHAR} ,TREEID=#{treeid,jdbcType=VARCHAR}
        where NODEID=#{nodeId,jdbcType=VARCHAR} and FLOWTYPE=#{flowType,jdbcType=VARCHAR}
    </update>
    <insert id="insertNode"  parameterType="java.lang.String">
        insert into DEPARTTREE
        <trim prefix="(" suffix=")" suffixOverrides="," >

            <if test="id != null" >
                "ID",
            </if>
            <if test="nodeName != null" >
                "NODENAME",
            </if>
            <if test="nodeId != null" >
                "NODEID",
            </if>
            <if test="pnodeId != null" >
                "PARENTNODEID",
            </if>
            <if test="level != null" >
                "LEVEL",
            </if>
            <if test="depart != null" >
                "DEPART",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>

            <if test="nodeName != null" >
                #{nodeName,jdbcType=VARCHAR},
            </if>
            <if test="nodeId != null" >
                #{nodeId,jdbcType=VARCHAR},
            </if>
            <if test="pnodeId != null" >
                #{pnodeId,jdbcType=VARCHAR},
            </if>
            <if test="level != null" >
                #{level,jdbcType=VARCHAR},
            </if>
            <if test="depart != null" >
                #{depart,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="getNodesInfo" resultType="xxw.po.DepartTree">
        select * from DEPARTTREE where 1=1
        <if test="level !=null">
            and LEVEL= #{level,jdbcType=VARCHAR}
        </if>
        <if test="parentNodeId !=null">
            and PARENTNODEID= #{parentNodeId,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="getMaxLevel" resultType="java.lang.String">
        select max("LEVEL") from DEPARTTREE
    </select>

    <select id="getDepart" resultType="xxw.po.DepartTree">
        select * from DEPARTTREE where 1=1
        <if test="depart !=null">
            and DEPART= #{depart,jdbcType=VARCHAR}
        </if>
        <if test="pnodeId !=null">
            and PARENTNODEID= #{pnodeId,jdbcType=VARCHAR}
        </if>
    </select>

   <!--创建流程实例-->
    <insert id="createFlow"   useGeneratedKeys="false" keyProperty="id"    parameterType="xxw.po.FlowInstance">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select FLOW_SEQ.nextval as id from dual
        </selectKey>
        insert into FLOWINSTANCE
        <trim prefix="(" suffix=")" suffixOverrides="," >

            "ID",
            <if test="flowId != null" >
                "FLOWID",
            </if>
            <if test="node != null" >
                "NODE",
            </if>
            <if test="startDate != null" >
                "STARTDATE",
            </if>
            <if test="endDate != null" >
                "ENDDATE",
            </if>
            <if test="flowType != null" >
                "FLOWTYPE",
            </if>
            <if test="status != null" >
                "STATUS",
            </if>
            <if test="fqr != null" >
                "FQR",
            </if>
            <if test="lwjg != null" >
                "LWJG",
            </if>
            <if test="swwh != null" >
                "SWWH",
            </if>
            <if test="swsj != null" >
                "SWSJ",
            </if>
            <if test="sfdb != null" >
                "SFDB",
            </if>
            <if test="dbsx != null" >
                "DBSX",
            </if>
            <if test="wjmc != null" >
                "WJMC",
            </if>
            <if test="bwyj != null" >
                "BWYJ",
            </if>
            <if test="ldps != null" >
                "LDPS",
            </if>
            <if test="dusers != null" >
                "DUSERS",
            </if>
            <if test="sqInfo != null" >
                "SQINFO",
            </if>
            <if test="file != null" >
                "FILE",
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
                #{id,jdbcType=VARCHAR},
            <if test="flowId != null" >
                #{flowId,jdbcType=VARCHAR},
            </if>
            <if test="node != null" >
                #{node,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null" >
                #{startDate,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null" >
                #{endDate,jdbcType=VARCHAR},
            </if>
            <if test="flowType != null" >
                #{flowType,jdbcType=VARCHAR},
            </if>
            <if test="status != null" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="fqr != null" >
                #{fqr,jdbcType=VARCHAR},
            </if>
            <if test="lwjg != null" >
                #{lwjg,jdbcType=VARCHAR},
            </if>
            <if test="swwh != null" >
                #{swwh,jdbcType=VARCHAR},
            </if>
            <if test="swsj != null" >
                #{swsj,jdbcType=VARCHAR},
            </if>
            <if test="sfdb != null" >
                #{sfdb,jdbcType=VARCHAR},
            </if>
            <if test="dbsx != null" >
                #{dbsx,jdbcType=VARCHAR},
            </if>
            <if test="wjmc != null" >
                #{wjmc,jdbcType=VARCHAR},
            </if>
            <if test="bwyj != null" >
                #{bwyj,jdbcType=VARCHAR},
            </if>
            <if test="ldps != null" >
                #{ldps,jdbcType=VARCHAR},
            </if>
            <if test="dusers != null" >
                #{dusers,jdbcType=VARCHAR},
            </if>
            <if test="sqInfo != null" >
                #{sqInfo,jdbcType=VARCHAR},
            </if>
            <if test="file != null" >
                #{file,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--更新流程实例-->
    <update id="updateFlow" parameterType="xxw.po.FlowInstance">
        update FLOWINSTANCE
        <set>
        <if test="node != null" >
           NODE= #{node,jdbcType=VARCHAR},
        </if>
        <if test="startDate != null" >
            STARTDATE= #{startDate,jdbcType=VARCHAR},
        </if>
        <if test="endDate != null" >
            ENDDATE= #{endDate,jdbcType=VARCHAR},
        </if>
        <if test="rejectReason != null" >
            REJECTREASON= #{rejectReason,jdbcType=VARCHAR},
        </if>
        <if test="dusers != null" >
            DUSERS= #{dusers,jdbcType=VARCHAR},
        </if>
        <if test="status != null" >
            STATUS= #{status,jdbcType=VARCHAR},
        </if>
        <if test="bwyj != null" >
            BWYJ= #{bwyj,jdbcType=VARCHAR},
        </if>
        <if test="ldps != null" >
            LDPS= #{ldps,jdbcType=VARCHAR},
        </if>
        </set>
        where FLOWID=#{flowId,jdbcType=VARCHAR}
    </update>

  <!--  <update id="updateFlowHistory" parameterType="xxw.po.FlowInstance">
        update FLOWHISTORY set
        <if test="node != null" >
            NODE= #{node,jdbcType=VARCHAR},
        </if>
        <if test="startDate != null" >
            STARTDATE= #{startDate,jdbcType=DATE},
        </if>
        <if test="endDate != null" >
            ENDDATE= #{endDate,jdbcType=DATE},
        </if>
        <if test="status != null" >
            STATUS= #{status,jdbcType=VARCHAR},
        </if>
        where FLOWID=#{flowId,jdbcType=VARCHAR}
    </update>-->

    <!--创建流程历史信息-->
    <insert id="createFlowHistory"   useGeneratedKeys="false" keyProperty="id"    parameterType="xxw.po.FlowHistory">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select FLOWHISTORY_SEQ.nextval as id from dual
        </selectKey>
        insert into FLOWHISTORY
        <trim prefix="(" suffix=")" suffixOverrides="," >

            "ID",
            <if test="flowId != null and flowId != ''" >
                "FLOWID",
            </if>
            <if test="node != null and node != ''" >
                "NODE",
            </if>
            <if test="startDate != null and startDate != ''" >
                "STARTDATE",
            </if>
            <if test="endDate != null and endDate != ''" >
                "ENDDATE",
            </if>
            <if test="flowType != null and flowType != ''" >
                "FLOWTYPE",
            </if>
            <if test="status != null and status != ''" >
                "STATUS",
            </if>
            <if test="file != null and file != ''" >
                "FILE",
            </if>
            <if test="rejectReason != null and rejectReason != ''" >
                "REJECTREASON",
            </if>

            <if test="user != null and user != ''" >
                "USER",
            </if>
            <if test="yzqm != null and yzqm != ''" >
                "YZQM",
            </if>
            <if test="yzyj != null and yzyj != ''" >
                "YZYJ",
            </if>
            <if test="userId != null and userId != ''" >
                "USERID",
            </if>
            <if test="fqrName != null and fqrName != ''" >
                "FQRNAME",
            </if>
            <if test="dName != null and fqrName != ''" >
                "DNAME",
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id,jdbcType=VARCHAR},


            <if test="flowId != null and flowId != ''" >
                #{flowId,jdbcType=VARCHAR},
            </if>
            <if test="node != null and node != ''" >
                #{node,jdbcType=VARCHAR},
            </if>
            <if test="startDate != null and startDate != ''" >
                #{startDate,jdbcType=VARCHAR},
            </if>
            <if test="endDate != null and endDate != ''" >
                #{endDate,jdbcType=VARCHAR},
            </if>
            <if test="flowType != null and flowType != ''" >
                #{flowType,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''" >
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="file != null and file != ''" >
                #{file,jdbcType=VARCHAR},
            </if>
            <if test="rejectReason != null and rejectReason != ''" >
                #{rejectReason,jdbcType=VARCHAR},
            </if>

            <if test="user != null and user != ''" >
                #{user,jdbcType=VARCHAR},
            </if>
            <if test="yzqm != null and yzqm != ''" >
                #{yzqm,jdbcType=VARCHAR},
            </if>
            <if test="yzyj != null and yzyj != ''" >
                #{yzyj,jdbcType=VARCHAR},
            </if>
            <if test="userId != null and userId != ''" >
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="fqrName != null and fqrName != ''" >
                #{fqrName,jdbcType=VARCHAR},
            </if>
            <if test="dName != null and fqrName != ''" >
                #{dName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <!--查询流程实例信息-->
    <select id="queryFlowInfos" parameterType="java.lang.String" resultType="xxw.po.FlowHistory">
        select  a.*,b.nodeOrder,b.nodeName  from FLOWINSTANCE a inner JOIN  NODECONFIG b on a.NODE=b.NODEID
        WHERE 1=1
        <if test="flowType !=null">
            and a.FLOWTYPE= #{flowType,jdbcType=VARCHAR}
        </if>
        <if test="flowId !=null">
            and a.FLOWID= #{flowId,jdbcType=VARCHAR}
        </if>
        <if test="fqr !=null">
            and a.FQR= #{fqr,jdbcType=VARCHAR}
        </if>
        <if test="duser !=null">
            and instr(','||a.DUSERS||',',concat(concat(',',#{duser}),','))>0
        </if>
        order by STARTDATE DESC
    </select>

    <!--查询流程实例信息-->
    <select id="queryHistoryFlowInfos" parameterType="java.lang.String" resultType="xxw.po.FlowHistory">
        select  a.SQINFO,a.FQR,b.* from FLOWINSTANCE a inner JOIN  FLOWHISTORY b on a.FLOWID=b.FLOWID
        WHERE 1=1
        <if test="flowType !=null">
            and a.FLOWTYPE= #{flowType,jdbcType=VARCHAR}
        </if>
        <if test="flowId !=null">
            and b.FLOWID= #{flowId,jdbcType=VARCHAR}
        </if>
        <if test="fqr !=null">
            and a.FQR= #{fqr,jdbcType=VARCHAR}
        </if>
        <if test="userId !=null">
            and b.USERID=#{userId,jdbcType=VARCHAR}
        </if>
        order by a.STARTDATE DESC
    </select>

    <!--查询流程历史信息-->
    <select id="queryFlowHistoryInfo" parameterType="java.lang.String" resultType="xxw.po.FlowHistory">
        select  *  from FLOWHISTORY
        WHERE 1=1
        <if test="flowId !=null">
            and FLOWID= #{flowId,jdbcType=VARCHAR}
        </if>

        <if test="node !=null">
            and NODE= #{node,jdbcType=VARCHAR}
        </if>
    </select>

    <!--查询文件结构-->
    <select id="selectCom" parameterType="java.lang.String" resultType="java.lang.String">
        select DISTINCT  COM from FILEMANAGER WHERE 1=1
        and COM  is not null
    </select>
    <select id="selectPos" parameterType="java.lang.String" resultType="java.lang.String">
        select DISTINCT  POS from FILEMANAGER WHERE 1=1
        <if test="com !=null">
            and COM= #{com,jdbcType=VARCHAR}
        </if>
        and POS  is not null
    </select>
    <select id="selectType" parameterType="java.lang.String" resultType="java.lang.String">
        select DISTINCT  TYPE from FILEMANAGER WHERE 1=1
        <if test="com !=null">
            and COM= #{com,jdbcType=VARCHAR}
        </if>
        <if test="pos !=null">
            and POS= #{pos,jdbcType=VARCHAR}
        </if>
        and TYPE  is not null
    </select>
    <select id="selectFile" parameterType="java.lang.String" resultType="java.util.HashMap">
        select a.*,b.* from FILEMANAGER a INNER JOIN ASSETS_FILE b on a.PATHID=b.PATHID  WHERE 1=1
        <if test="com !=null">
            and a.COM= #{com,jdbcType=VARCHAR}
        </if>
        <if test="pos !=null">
            and a.POS= #{pos,jdbcType=VARCHAR}
        </if>
        <if test="type !=null">
            and a.TYPE= #{type,jdbcType=VARCHAR}
        </if>
        <if test="fileDate !=null">
            and b.FILEDATE= #{fileDate,jdbcType=VARCHAR}
        </if>
        <if test="pathId !=null">
            and b.PATHID= #{pathId,jdbcType=VARCHAR}
        </if>
        <if test="filename !=null">
            and b.FILENAME LIKE #{filename,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectPathId" parameterType="java.lang.String" resultType="java.util.HashMap">
        select * from FILEMANAGER  WHERE 1=1
        <if test="com !=null">
            and COM= #{com,jdbcType=VARCHAR}
        </if>
        <if test="pos !=null">
            and POS= #{pos,jdbcType=VARCHAR}
        </if>
        <if test="type !=null">
            and TYPE= #{type,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectFileByName" parameterType="java.lang.String" resultType="xxw.po.AssetsFile">
        select * from FILEMANAGER  WHERE 1=1
        <if test="filename !=null">
            and FILENAME= #{filename,jdbcType=VARCHAR}
        </if>
    </select>
    <update id="updateFile" parameterType="java.lang.String" >
        update ASSETS_FILE set ZCID=#{zcid} where FILEID=#{fileId}
    </update>
    <insert id="insertManagerFile"   useGeneratedKeys="false" keyProperty="id"    parameterType="java.lang.String">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select FILE_SEQ.nextval as id from dual
        </selectKey>
        insert into ASSETS_FILE
        <trim prefix="(" suffix=")" suffixOverrides="," >

            "ID",
            <if test="fileId != null" >
                "FILEID",
            </if>
            <if test="fileName != null" >
                "FILENAME",
            </if>
            <if test="filePath != null" >
                "FILEPATH",
            </if>
            <if test="realName != null" >
                "REALNAME",
            </if>
            <if test="pathId != null" >
                "PATHID",
            </if>
            <if test="fileDate !=null">
                "FILEDATE",
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id,jdbcType=VARCHAR},
            <if test="fileId != null" >
                #{fileId,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null" >
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="filePath != null" >
                #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="realName != null" >
                #{relaName,jdbcType=VARCHAR},
            </if>
            <if test="pathId != null" >
                #{pathId,jdbcType=VARCHAR},
            </if>
            <if test="fileDate != null" >
                #{fileDate,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <insert id="savefilefold"   useGeneratedKeys="false" keyProperty="id"    parameterType="java.lang.String">
        <selectKey resultType="String" keyProperty="id" order="BEFORE">
            select FILEFOLD_SEQ.nextval as id from dual
        </selectKey>
        insert into FILEMANAGER
        <trim prefix="(" suffix=")" suffixOverrides="," >

            "ID","PATHID",

            <if test="com != null" >
                "COM",
            </if>
            <if test="pos != null" >
                "POS",
            </if>
            <if test="type != null" >
                "TYPE",
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            #{id,jdbcType=VARCHAR},#{pathid,jdbcType=VARCHAR},
            <if test="com != null" >
                #{com,jdbcType=VARCHAR},
            </if>
            <if test="pos != null" >
                #{pos,jdbcType=VARCHAR},
            </if>
            <if test="type != null" >
                #{type,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
</mapper>